body {
	font-family: Verdana;
	font-size: 11px;
}
.bodyContent {
	width: 500px;
	padding-top: 10px;	
	padding-bottom: 10px;	
	
}
.bodyContent .title {
	font-size: 12px;
	font-weight: bold;
}
.tr {
	width: 500px;
	float:left;
}
.th {
	width: 25%;
	float:left;
	padding: 3px;
	text-align: right;
	font-weight: bold;
}
.td {
	width: 65%;
	float:left;
	padding: 3px;
}
.clear {
	clear: both;
}
.error{
	font-weight: bold;
	color:#FF0000;
}
.bold {
	font-weight: bold;
}
button, select, input, textarea {
	font-family: Verdana;
	font-size: 11px;
}
.bodyHeader{
	font-size: 14px;
	font-weight: bold;
}
.bodyLinks a {
	text-decoration: none;
}
.frmDiv{
	width:550px !important;
	}

fieldset.submit
	{
	padding-left: 190px !important;
	}

form label{
	padding:0px 10px;
	width: 160px;
	}

form label.error,
form input.submit
	{
	margin-left:180px !important;
	}		

form fieldset fieldset label.error
	{
	margin-left:0px !important;
	width:200px !important;
	}		


form .centered{
	margin-left:180px !important;
	width:200px !important;
	}

fieldset ul li{
	padding-top: 10px;
	list-style-type: none;
}
fieldset ul li label {
	width: 150px;
	float: left;
	text-align:right;
	font-weight:bold;
}
